<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
  <meta charset="UTF-8">
  <title>双向数据绑定的练习</title>
  <script src="js/angular.js"></script>
</head>
<body>

<div ng-controller="myCtrl">
  <input type="checkbox" ng-model="isAgree"/>
  <button ng-disabled="!isAgree">注册</button>

  <select ng-model="url">
    <option value="1.jpg">水仙花</option>
    <option value="2.jpg">郁金香</option>
  </select>

  <img ng-src="img/{{url}}" />

</div>

<script>
  //声明模块
  var app = angular.module('myApp',[]);

  //声明控制器
  app.controller('myCtrl', function ($scope) {

  });

</script>

</body>
</html>